<!DOCTYPE html>
<html>
  <head>
    <title>Abdullah Portfolio</title>
    {%include 'bootstrap.html'%}
    
   </head>
<body>
  
  <div class = "container">
  <h1 class = "text-center mt-2 mb-4">Abdullah Area</h1>
    {%include 'banner.html'%}
<h1 class = "text-center mt-2 mb-4">About me</h1>
<p class = "lead">Hello, my name is Abdullah Abdulaziz Al-Qahtani, and this website will be the main hub for my personal-CV and contact information to reach you out as soon as possible, one of the practitioner at NITA in the AI program, and a future candidate for Aramco Digital, I specialize in the computer hardware as I've built and assembled a share amount myself of computers and very versatile in computer components, and it's relation to AI it is involvment in the use of computers and building humanoid robots to interact with humans.</p>
<h2 class = "text-center mt-2 mb-4">My project</h2>
<div>
{%for st in projects%}
  {%include 'projectslist.html'%}
{%endfor%}

</div>
<div class = "text-center">
<button class="btn btn-primary btn-lg" onclick = "window.location.href =' /message';">Contact US</button>
<p class = "mt-4">Copyright 2023, Abdullah AlQahtani</p>
</div>
  </div>
</body>
</html>